<html>
  <head>
    <title>Form</title>
  </head>
  <body>
    <form action="/new" method="POST">
      <h3>Please fill form</h3>
      <div>
        <label for="userName">Enter User's name: </label>
        <input type="text" name="authorsName" id="" />
      </div>
      <div>
        <label for="messageText">Enter your message: </label>
        <input type="text" name="messageText" id="" />
      </div>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
